.navbar {
  margin-right: 10%;
}


@media screen and (min-width: 992px) {
  .leftPanelPage{
    width: 30%;
    float: left;
  }
  .rightPanelPage{
    width: 40%;
    float: right;
    margin-right: 19%;
  }
}

.navContainer {
  margin-bottom: 2%;
}
.repoConatiner {
  margin-bottom: 2%;
}
.searchRepo {
  width: 10%;
}

input[type=text] {
  width: 40%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 2%;
}

select {
  width: 20%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 1%;
}
.repoName{
  text-align: left;
  color: blue;
  font-weight: bold;
}
.description, .language {
  text-align: left;
  margin:1%;
}

svg{
  margin-right: 2%;
}
button{
  width: 92%;
  height:35px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.leftContainer{
  margin-left:35%;
}